<html>
  <head>
  </head>
  <body>
    <h1>Yoooo dude!</h1>
    <h2>Let's do some form handling.</h2>
    <p>
      <form action="result" method="POST">
        Your Name: <input type="text" name="name" /><br />
        Dojo Location: <input type="text" name="location" /><br />
        Favorite Language:
        <select name="language">
            <option value="JavaScript">JavaScript</option>
            <option value="Python">
              Python
            </option>
            <option value="C#">
              C#
            </option>
        </select>
        <br />
        Comment: <br />
        <input type="textarea" name="comment"/><br />
        <input type="submit" value="Submit" />
      </form>
    </p>
  </body>
</html>
