<html>
  <head>
  </head>
  <body>
    <h1>Yoooo dude!</h1>
    <h2>Quoting Dojo, round 3!</h2>
    <p>
      <form action="/quotes" method="POST">
        Your Name: <input type="text" name="name" /><br />
        Quote: <input type="text" name="quote" /><br />
        <input type="submit" value="Submit" />
      </form>
    </p>
    <p>
      Or <a href="/quotes">skip directly to the quotes.</a>
    </p>
  </body>
</html>
